/*----------------------------------------------------------------------------------

Project     : DOLPHIN CLUB
Author      : Arjun
Author URI  : https://github.com/Esdark
Version     : 1.1.0  

-------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------

[Table of contents]
default css
header area
hero area
about area
section heading
features area
discount-area
product area
newsletter area
why choose area
contact area
footer

--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

a,
button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

a {
  color: #000;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
}

h1 {
  font-size: 70px;
  line-height: 80px;
}

h2 {
  font-size: 50px;
  line-height: 60px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 26px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #3c6382;
}

.d-table {
  width: 100%;
  height: 100%;
}

.bg-gray {
  background-color: #4a4a4a;
}

.animation-jump {
  position: relative;
  -webkit-animation: animation-jump 2s ease-in-out infinite;
  animation: animation-jump 2s ease-in-out infinite;
}

@-webkit-keyframes animation-jump {
  0% {
    top: 3px;
  }

  50% {
    top: -3px;
  }

  100% {
    top: 3px;
  }
}

@keyframes animation-jump {
  0% {
    top: 3px;
  }

  50% {
    top: -3px;
  }

  100% {
    top: 3px;
  }
}

.section_padding_90_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_padding_190_200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section_padding_390_400 {
  padding-top: 400px;
  padding-bottom: 400px;
}

.section_padding_0_100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section_padding_90_0 {
  padding-top: 100px;
  padding-bottom: 0px;
}

.section_padding_90_70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.section_padding_90_50 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section_padding_0_70 {
  padding-top: 0px;
  padding-bottom: 70px;
}

.section_padding_40_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_padding_0_50 {
  padding-top: 0px;
  padding-bottom: 50px;
}

/*-------------------------------------------------------------------------------------
    header area
---------------------------------------------------------------------------------------*/
#header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-top li {
  display: inline-block;
  padding-right: 20px;
}

.header-top-wrap {
  border-bottom: 1px solid #e4f1fb;
  padding: 14px 0;
}

.header-cont-info {
  padding: 10px 0 0;
}

.header-cont-info li i {
  color: #4d8470;
  padding-right: 7px;
}

.header-social li a {
  border: 1px solid #4d8470;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border-radius: 4px;
  color: #4d8470;
  font-size: 15px;
}

.header-social li a:hover {
  background-color: #4d8470;
  color: #fff;
}

.header-social li {
  padding: 0 5px;
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: 600;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #4d8470;
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.mainmenu {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 0;
}

.mainmenu.sticky {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  padding: 16px 0;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainmenu.sticky .nav-link {
  color: #3c6382;
}

.mainmenu.sticky .nav-link:hover,
.mainmenu.sticky .navbar-nav .nav-link.active {
  color: #4d8470;
}

.navbar-nav.shop-btn .nav-link {
  border: 1px solid #4d8470;
  border-radius: 5px;
  color: #fff;
  background-color: #4d8470;
  padding: 10px 22px;
}

.navbar-nav.shop-btn .nav-link:hover {
  border: 1px solid #4d8470;
  color: #4d8470;
  background-color: #fff;
}

.mainmenu.sticky .navbar-nav.shop-btn .nav-link {
  color: #fff;
}

.mainmenu.sticky .navbar-nav.shop-btn .nav-link:hover {
  color: #4d8470;
}

/*-------------------------------------------------------------------------------------
    hero area
---------------------------------------------------------------------------------------*/

#hero-area {
  padding: 170px 0;
  background-color: #fbd7b5;
}

.caption h5 {
  font-weight: 600;
  color: #4d8470;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.caption h1 {
  line-height: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}

.caption h4 {
  color: #3c6382;
  font-weight: 600;
}

.caption p {
  font-size: 20px;
  line-height: 30px;
}

.caption ul {
  margin: 45px 0 0;
}

.caption ul li {
  display: inline-block;
  margin-right: 20px;
}

.caption li a {
  display: block;
  background-color: #4d8470;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  font-weight: 600;
}

.caption li a:hover {
  background-color: #4d8470;
}

.caption li a i {
  margin-left: 10px;
}

.caption ul li span {
  font-weight: 600;
  font-size: 24px;
}

.hero-btn a {
  display: inline-block;
  background-color: #4d8470;
  margin: 30px 0 0;
  color: #fff;
  padding: 10px 30px 15px;
  border-radius: 4px;
  font-weight: 600;
}

.hero-btn a:hover {
  background: #4d8470;
}

.hero-btn i {
  padding: 10px 0 0 10px;
}

#hero-area.hero-two {
  background-color: #7dcaba;
  padding: 30px 0 0;
}

#hero-area.hero-three {
  padding: 140px 0 200px;
}

.slider .caption-img img {
  max-width: 400px;
}

.slider.owl-carousel .owl-nav > div {
  position: absolute;
  left: 20px;
  top: 50%;
  background-color: rgba(255, 99, 72, 0.5);
  width: 50px;
  height: 50px;
  line-height: 54px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  color: #3c6382;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}

.slider.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: 20px;
}

.slider.owl-carousel .owl-nav > div:hover {
  background-color: #4d8470;
  color: #fff;
}

.slider .owl-dots {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -150px;
}

.slider .owl-dots .owl-dot {
  background-color: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-radius: 3px;
}

.slider .owl-dots .owl-dot.active {
  background-color: #4d8470;
}

.owl-item.active .slide-single .caption h1 {
  -webkit-animation: 1s 0.2s fadeInUp both;
  animation: 1s 0.2s fadeInUp both;
}

.owl-item.active .slide-single .caption p {
  -webkit-animation: 1s 0.4s fadeInUp both;
  animation: 1s 0.4s fadeInUp both;
}

.owl-item.active .slide-single .hero-btn {
  -webkit-animation: 1s 0.6s fadeInUp both;
  animation: 1s 0.6s fadeInUp both;
}

/*-------------------------------------------------------------------------------------
    about area
---------------------------------------------------------------------------------------*/

#about-area {
  padding: 95px 0 100px;
}

.about-cont {
  padding-left: 55px;
}

.about-cont h6 {
  color: #4d8470;
  text-transform: uppercase;
  font-weight: 600;
}

.about-cont h2 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-cont ul {
  margin: 20px 0 40px;
}

.about-cont li {
  padding: 6px 0;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.about-cont i {
  margin-right: 10px;
  color: #4d8470;
}

.about-cont a {
  display: inline-block;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  font-weight: 600;
  background-color: #4d8470;
}

.about-cont a:hover {
  background-color: #4d8470;
}

.about-img.bg {
  background-image: url(../images/circle-shape.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-single i {
  color: #4d8470;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  margin: 0 0 25px;
}

.about-single h4 {
  font-weight: 600;
}

#about-area.two {
  padding: 95px 0 75px;
}

/*-------------------------------------------------------------------------------------
     section heading
---------------------------------------------------------------------------------------*/
.sec-heading {
  margin: 0 0 50px;
}

.sec-heading h6 {
  color: #4d8470;
  text-transform: uppercase;
  font-weight: 600;
}

.sec-heading h2 {
  font-weight: 700;
  text-transform: capitalize;
}

/*-------------------------------------------------------------------------------------
     features area
---------------------------------------------------------------------------------------*/

#feat-area {
  padding: 95px 0 45px;
}

.feat-head {
  overflow: hidden;
  margin-bottom: 12px;
}

.feat-single .icon {
  width: 12%;
}

.feat-single .title {
  width: 85%;
  padding-left: 10px;
}

.feat-single h4 {
  font-weight: 600;
  margin: 10px 0 8px;
}

.feat-head i {
  color: #4d8470;
  font-size: 40px;
  line-height: 46px;
  display: inline-block;
}

.feat-single {
  margin: 0 0 30px;
  overflow: hidden;
}

.feat-img img {
  max-width: 250px;
}

.feat-single.two {
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 20px;
}

.feat-icon {
  width: 18%;
  float: left;
}

.feat-cont {
  float: left;
  width: 82%;
}

.feat-icon i {
  color: #4d8470;
  font-size: 44px;
  display: inline-block;
  margin: 10px 0 0;
}

.feat-single.three .feat-icon {
  width: 14%;
}

.feat-single.three .feat-cont {
  width: 86%;
}

#feat-area.two {
  padding: 95px 0 55px;
}
.cardl {
  height: 400px;
  width: 300px;
  background-color: #fff;
}
.cardl-image {
  width: 300px;
  height: 200px;
}
.cardl-image img {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
.textl {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 30px;
}

.cardl a {
  color: #11698e;
  padding: 25px;
  margin-top: 30px;
}
/*-------------------------------------------------------------------------------------
    product area
---------------------------------------------------------------------------------------*/
#product-area {
  padding: 95px 0 100px;
}

.prod-single {
  border: 1px solid #e6f0fa;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.prod-info {
  padding: 40px 20px 45px;
}
.prod-info2 {
  padding: 10px 10px 15px;
}

.prod-img {
  overflow: hidden;
  padding: 60px 0 15px;
}

.prod-img img {
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 230px;
}

.prod-single:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.prod-info i {
  display: inline-block;
  color: #ffb400;
  margin: 0 4px;
}

.prod-info h4 {
  font-weight: 600;
}

.prod-info h5 {
  color: #3b04db;
  margin: 10px 0 0;
  font-weight: 600;
}

.prod-info a {
  display: inline-block;
  margin: 25px 0 0;
  background: rgb(60, 99, 130);
  background: -moz-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6382",endColorstr="#4d8470",GradientType=1);
  color: #fff;
  padding: 10px 35px;
  border-radius: 4px;
}

.prod-info a:hover {
  background-color: #4d8470;
}
.prod-info2 a:hover {
  background-color: #4d8470;
}

.prod-info2 a {
  display: inline-block;
  background: rgb(60, 99, 130);
  background: -moz-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6382",endColorstr="#4d8470",GradientType=1);
  color: #fff;
  padding: 10px 35px;
  border-radius: 4px;
}

.prod-info2 a:hover {
  background-color: #4d8470;
}
.prod-info2 a:hover {
  background-color: #4d8470;
}
.product-carousel .owl-nav {
  text-align: center;
  margin: 35px 0 0;
}

.product-carousel .owl-nav > div {
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #4d8470;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  line-height: 54px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product-carousel .owl-nav > div:hover {
  background-color: #4d8470;
  color: #fff;
}
/***** whatsapp *****/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
/***** End whatsapp *****/
/* =======================
:: 7.0 Portfolio Area CSS 
===================== */
.btn {
  background: rgb(60, 99, 130);
  background: -moz-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6382",endColorstr="#4d8470",GradientType=1);
  color: #fff;
}

.btn:focus {
  box-shadow: none;
}
.box-label .btn {
  background-color: #fff;
  padding: 0;
  font-size: 0.8rem;
}

.pagination .page-item .page-link {
  color: #333;
  border: none;
  width: 40px;
  text-align: center;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  border: 1px solid #333;
}
select {
  outline: none;
  padding: 6px 12px;
  margin: 0px 4px;
  color: #ff0000;
  font-size: 0.85rem;
  width: 140px;
}
#select2 {
  border: 1px solid #777;
  color: #999;
}
#pro {
  border: none;
  color: #333;
  font-weight: 700;
  padding-left: 0px;
  width: initial;
}
#filterbar {
  width: 150% !important;
  position: relative;
  background-color: #fff;
  border: 1px solid #c2c1ca;
  border-radius: 15px;
  float: left;
}
#filterbar input[type="radio"] {
  visibility: hidden;
}
#filterbar input[type="radio"]:checked {
  background-color: #6916c7;
  border: none;
}
#filterbar .btn.btn-success {
  background-color: #c2c1ca;
  color: #333;
  border: none;
  width: 115px;
}
#filterbar .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#filterbar .btn-success:not(:disabled):not(.disabled).active,
#filterbar .btn-success:not(:disabled):not(.disabled):active {
  background-color: #4d8470;
  color: #fff;
}
#filter-btn {
  width: 100% !important;
}
#sort-btn {
  width: 100% !important;
}
#sortbar {
  width: 150% !important;
  position: relative;
  background-color: #fff;
  border: 1px solid #c2c1ca;
  border-radius: 15px;
  float: left;
}
#sortbar input[type="radio"] {
  visibility: hidden;
}
#sortbar input[type="radio"]:checked {
  background-color: #6916c7;
  border: none;
}
#sortbar .btn.btn-success {
  background-color: #c2c1ca;
  color: #333;
  border: none;
  width: 115px;
}
#sortbar .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#sortbar .btn-success:not(:disabled):not(.disabled).active,
#sortbar .btn-success:not(:disabled):not(.disabled):active {
  background-color: #4d8470;
  color: #fff;
}
label {
  cursor: pointer;
}
.tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0;
  font-weight: 500 !important;
}
.tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #c2c1ca;
  border-radius: 3px;
}
.tick:hover input ~ .check {
  background-color: #f3f3f3;
}
.tick input:checked ~ .check {
  background-color: #ffffff;
}
.check:after {
  content: "";
  position: absolute;
  display: none;
}
.tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1);
}
.tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2);
}
.box {
  padding: 10px;
}
.box-label {
  color: #11698e;
  font-size: 0.9rem;
  font-weight: 800;
}
#inner-box,
#inner-box2 {
  height: 150px;
  overflow-y: scroll;
}
#inner-box2 {
  height: 132px;
}
#inner-box::-webkit-scrollbar,
#inner-box2::-webkit-scrollbar {
  width: 6px;
}
#inner-box::-webkit-scrollbar-track,
#inner-box2::-webkit-scrollbar-track {
  background-color: #c2c1ca;
  border-radius: 2px;
}
#inner-box::-webkit-scrollbar-thumb,
#inner-box2::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}
#price {
  height: 45px;
}
#size input[type="checkbox"] {
  visibility: hidden;
}
#size input[type="checkbox"]:checked {
  background-color: #4d8470;
  border: none;
}
#size .btn.btn-success {
  background-color: #c2c1ca;
  color: #333;
  border: none;
  width: 60px;
  font-size: 0.8rem;
  border-radius: 0;
}
#size .btn.btn-success:hover {
  background-color: #aff1e1;
  color: rgb(0, 0, 0);
}
#size .btn-success:not(:disabled):not(.disabled).active,
#size .btn-success:not(:disabled):not(.disabled):active {
  background-color: #4d8470;
  color: #fff;
}
#size label {
  margin: 10px;
  margin-left: 0px;
}
.cardp {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  height: 400px;
}
.cardb {
  height: 500px;
  padding: 15px;
}
.cardb img {
  width: 100%;
  border-radius: 30px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #000;
  position: relative;
  bottom: 50px;
  left: 100px;
}
.cardp:hover {
  box-shadow: 2px 2px 15px #4d8470;
  transform: scale(1.02);
}
.cardp .product-name {
  font-weight: 600;
}
.cardp-body {
  padding-bottom: 0;
}
.cardp .text-muted {
  font-size: 0.82rem;
}
.cardp-img img {
  padding-top: 10px;
  width: 100%;
  object-fit: contain;
  display: flex;
}
.cardp-body .btn-group .btn {
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
}
.cardp-body .btn-group > .btn-group:not(:last-child) > .btn,
.cardp-body .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 50%;
  transition: ease-in all 0.4s;
}
.cardp-body input[type="radio"] {
  visibility: hidden;
}
.cardp-body .btn:not(:disabled):not(.disabled).active::after,
.cardp-body .btn:not(:disabled):not(.disabled):active::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 4px;
  left: 4.2px;
  background-color: #fff;
  position: absolute;
  transition: ease-in all 0.4s;
}
.cardp-body .btn.btn-light:not(:disabled):not(.disabled).active::after,
.cardp-body .btn.btn-light:not(:disabled):not(.disabled):active::after {
  background-color: #000;
}
#avail-size input[type="checkbox"] {
  visibility: hidden;
}
#avail-size input[type="checkbox"]:checked {
  background-color: #4d8470;
  border: none;
}
#avail-size .btn.btn-success {
  background-color: #c2c1ca;
  color: #333;
  border: none;
  width: 20px;
  font-size: 0.7rem;
  border-radius: 0;
  padding: 0;
}
#avail-size .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#avail-size .btn-success:not(:disabled):not(.disabled).active,
#avail-size .btn-success:not(:disabled):not(.disabled):active {
  background-color: #4d8470;
  color: #fff;
}
#avail-size label {
  margin: 10px;
  margin-left: 0px;
}
#shirt {
  height: 170px;
}
.middle {
  position: relative;
  width: 100%;
  margin-top: 25px;
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: #4d8470;
  -webkit-appearance: none;
}
.del {
  text-decoration: line-through;
  color: #4d8470;
}
@media (min-width: 1199.6px) {
  #filterbar {
    width: 25%;
  }
  #sortbar {
    width: 25%;
  }
}
@media (max-width: 1199.5px) {
  #filterbar {
    width: 28%;
  }
  #sortbar {
    width: 28%;
  }
  .cardp {
    height: 350px;
  }
  .price {
    font-size: 0.9rem;
  }
  .product-name {
    font-size: 0.8rem;
  }
  .cardp-img img {
    padding-top: 10px;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
}
@media (max-width: 991.5px) {
  .navbar-nav {
    min-width: 290px;
    position: absolute;
    left: -168px;
    bottom: -146px;
    padding: 20px 10px;
    display: block;
    background-image: none;
    z-index: 2;
    background-color: #1d1c1cb2;
  }
  #filterbar {
    width: 36%;
  }
  #sortbar {
    width: 36%;
  }
  #sort {
    background-color: inherit;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  #sort option,
  #pro option {
    color: #000;
  }
  #pro,
  #select2,
  .result {
    background-color: inherit;
    color: #fff;
  }
  .cardp {
    height: 345px;
  }
  .price {
    font-size: 0.85rem;
  }
}
@media (max-width: 767.5px) {
  #filterbar {
    width: 50%;
  }
  #sortbar {
    width: 50%;
  }
}
@media (max-width: 525.5px) {
  #filterbar {
    float: LEFT;
    width: 110% !important;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  #sortbar {
    float: left;
    width: 110% !important;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }
}
@media (max-width: 500.5px) {
  .pagination {
    display: none;
  }
}

/*-------------------------------------------------------------------------------------
    newsletter area
---------------------------------------------------------------------------------------*/
#newsletter-area {
  padding: 95px 0 100px;
}

.newsletter-form {
  position: relative;
}

.newsletter-form input {
  height: 65px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

.newsletter-form button {
  background-color: #4d8470;
  color: #fff;
  border: 0;
  font-size: 18px;
  height: 65px;
  padding: 0 35px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.newsletter-form button:hover {
  background-color: #4d8470;
}

/*-------------------------------------------------------------------------------------
    why choose area
---------------------------------------------------------------------------------------*/
#why-choose-area {
  padding: 100px 0 60px;
}

#why-choose-area .sec-heading {
  margin: 0 0 40px 30px;
}

.why-choose-cont {
  margin-left: 30px;
}

.why-choose-single {
  overflow: hidden;
  margin: 0 0 22px;
}

.why-choose-single .icon {
  width: 10%;
  float: left;
}

.why-choose-single .cont {
  float: left;
  width: 80%;
}

.why-choose-single i {
  display: inline-block;
  color: #4d8470;
  font-size: 60px;
}

.why-choose-single h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.why-choose-single.two .icon {
  width: 16%;
}

.why-choose-single.two .cont {
  width: 84%;
}

.why-choose-single.two h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

#why-choose-area.two {
  padding: 95px 0 55px;
}

/*-------------------------------------------------------------------------------------
    contact area
---------------------------------------------------------------------------------------*/
#contact-area {
  padding: 95px 0 85px;
}

.contact-form input,
.contact-form textarea {
  font-size: 15px;
  border-color: #daecfd;
}

.contact-form input {
  height: 55px;
}

.contact-form input,
.contact-form textarea {
  height: 200px;
}

.contact-form input {
  height: 50px;
}

.contact-form label {
  font-weight: 700;
}

.contact-form button {
  background-color: #4d8470;
  padding: 15px 30px;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  border: 0;
  font-family: "Poppins", sans-serif;
}

.contact-form button:hover {
  background-color: #4d8470;
}

.help-block.with-errors li {
  color: #4d8470;
  margin: 4px 0 0;
}

.messages {
  margin: 15px 0 0;
}

.messages button {
  color: #000;
  padding: 0;
  background-color: transparent;
}

.messages button:hover {
  background-color: transparent;
}

.cont-info {
  margin: 30px 0 0 30px;
}

.cont-info-single {
  margin: 0 0 40px;
}

.cont-info-single h5 {
  font-weight: 600;
}

.cont-info-single i {
  color: #4d8470;
}

/*-------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------*/
#footer {
  overflow: hidden;
}

.footer-top {
  padding: 90px 0 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-single img {
  margin: 0 0 20px;
}

.footer-single li {
  display: block;
}

.footer-single a {
  margin: 0 0 20px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
}

.footer-single p {
  color: #fff;
}

.subscribe input {
  height: 60px;
  border-radius: 30px;
  border: 0;
  padding-left: 30px;
}

.subscribe input,
.subscribe textarea {
  font-size: 15px;
  border-color: #e6f0fa;
}

.subscribe button {
  border: 0;
  height: 50px;
  border-radius: 30px;
  padding: 0 30px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 25px;
  top: 5px;
  background: #4d8470;
}

.subscribe button:hover {
  background: #4d8470;
  color: #fff;
}

.footer-social {
  margin: 25px 0 0 15px;
}

.footer-social li {
  display: inline-block;
}

.footer-social li a {
  display: block;
  background: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 2px;
  border: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
.footer-social h5 {
  color: #fff;
}
.footer-icon li a:hover {
  background: #4d8470;
  color: #fff;
}

.footer-btm {
  padding: 25px 0;
}

.footer-btm p {
  font-weight: 500;
  margin: 0;
  color: #fff;
}

.footer-btm p a {
  color: #4d8470;
}

.footer-btm p a:hover {
  color: #4d8470;
}

/*read more button*/
.btn {
  background: rgb(7, 77, 108);
  background: -moz-linear-gradient(
    90deg,
    rgba(7, 77, 108, 0.7962535355939251) 0%,
    rgba(0, 103, 33, 0.7374300061821604) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(7, 77, 108, 0.7962535355939251) 0%,
    rgba(0, 103, 33, 0.7374300061821604) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(7, 77, 108, 0.7962535355939251) 0%,
    rgba(0, 103, 33, 0.7374300061821604) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#074d6c",endColorstr="#006721",GradientType=1);
  border-radius: 10px;
}

/*card*/

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #ffffff;
}
#cards_landscape_wrap-2 .container {
  padding-top: 40px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  /*
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  */
  width: 100%;
  height: 400px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  /*
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
  */
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  /*
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  */
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  /*
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  */
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}
.product {
  padding-bottom: 5px;
  font-size: 12px;
  text-align: left;
  color: #000;
}
.d-table-cell {
  border-radius: 5px;
}

/***** side nave *****/

/* Sidebar */
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #ffffff;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
  color: rgb(0, 0, 0);
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #000000;
  background: rgb(255, 255, 255);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: rgb(0, 0, 0);
  background: #ffffff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ffffff;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
/***** End side nave *****/

.rectinfo {
  background: rgb(60, 99, 130);
  background: -moz-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 62%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 62%
  );
  background: linear-gradient(
    145deg,
    rgba(60, 99, 130, 1) 0%,
    rgba(77, 132, 112, 1) 62%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6382",endColorstr="#4d8470",GradientType=1);

  width: 1000px;
  height: 300px;
  border-radius: 40px;
}

.gbtn {
  background-color: #fff;
  width: 200px;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
}
.gtext {
  padding: 25px;
  margin-top: 50px;
  margin-left: 20px;
}
.gtext h2 {
  text-align: justify;
  font-size: 30px !important;
  font-weight: 600;
  color: #fff;
  padding: 5px;
}
