<footer id="footer" class="bg-gray">{% load static %}
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!--start footer single-->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-single">
                        <img src="{% static 'images/logo2.png' %}" class="img-fluid" alt="" />
                        <p>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                          Donec odio. Quisque volutpat mattis eros.
                        </p>
                    </div>
                </div>
          <!--end footer single-->
          <!--start footer single-->
            <div class="col-lg-2 col-md-6">
                <div class="footer-single">
                    <ul>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Customer Service</a></li>
                      <li><a href="#">Term & Condition</a></li>
                      <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
          <!--end footer single-->
          <!--start footer single-->
          <div class="col-lg-2 col-md-6">
            <div class="footer-single">
              <ul>
                <li><a href="#">Our Products</a></li>
                <li><a href="#">Refund Policy</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Privacy & Policy</a></li>
              </ul>
            </div>
          </div>
          <!--end footer single-->
          <div class="col-lg-5 col-md-6">
            <div class="subscribe">
              <input
                type="email"
                class="form-control"
                id="news-email"
                placeholder="Enter Email"
              />
              <button type="submit">Subscribe</button>
            </div>
            <div class="footer-social">
              <h5>Follow Us</h5>
              <ul>
                <li>
                  <a href="#"><i class="icofont-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icofont-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icofont-google-plus"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icofont-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--start footer bottom-->
    <div class="footer-btm text-center">
      <div class="container">
        <p>&copy; 2022 DOLPHIN CLUB. All Rights Reserved By THYCHA</p>
      </div>
    </div>
    <!--end footer bottom-->
  </footer>